.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,monospace;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('/public/index.jpg');
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100% 100%; 
}
